<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Por Hacer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

   <app-explore-container name="Tab 1 page"></app-explore-container> -->

<!-- Componente donde se muestran las listas -->
<app-listas [tipo]="'por hacer'"></app-listas>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)= "AgregarLista()">
    <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>

</ion-content>


